header {
  font-size: 48px;
  text-align: center;
  color: rgb(110, 0, 0);
}

h1 {
  text-align: center;
  color: rgb(255, 51, 0);
}

section {
  list-style-position: inside;
  text-align: center;
  padding: 0;
  color: rgb(116, 0, 0);
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

a {
  text-align: center;
}

p {
  text-align: center;
 color: rgb(116, 0, 0);
}

#main-header {
  font-size: 48px;
  text-align: center;
  color: rgb(110, 0, 0);
}

.centered-list {
  list-style-position: inside;
  text-align: center;
  padding: 0;
  color: rgb(116, 0, 0);
}

section a {
  display: block;
  text-align: center;
  color: rgb(116, 0, 0);
  text-decoration: underline;
}
